:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #ee4d2d;
    --border-color: #dbdbdb;
    --star-color: #FFEF78;
    --header-height:120px;
    --navbar-height: 26px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%; 
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

/* Responsive */
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0  auto;
}

.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test responsive */
.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;

}

/* Animaton */
@keyframes fakeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growthscales{
    from{
        transform: scale(var(--scales-from)) ;
    }
    to{
        transform: scale(var(--scales-to)) ;
    }
}

/* modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    animation: fakeIn linear 0.1s
}

.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
} 

.modal__body{
    --scales-from: 0.7;
    --scales-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation:growthscales linear 0.1s ;
}

/* button style */
.btn{
    min-width: 124px;
    height: 34px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0 8px;
    outline: none;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn:first-child{
    background: none;
} 

.btn.auth-form__controls-back:hover{
    background: rgba(0, 0, 0, 0.014);
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}
  
.btn.btn--size-s{
    height: 32px; 
    font-size: 12px;
    padding: 0 12px;
} 

.btn.btn--disabled{
    color: #949494;
    cursor: default;
    background: #c3c3c3;
}

/* Select input */
.select-input{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input:hover .select-input__icon{
    color: var(--primary-color);
}

.select-input__label{
    font-size: 1.4rem;
    cursor: default;
}

.select-input__icon{
    font-size: 1.4rem;
    color: #4a4a4a;
    position: relative;
    top: 1px;
    cursor: pointer;
    padding: 0;
}

.select-input__list{
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 9px);
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 16px;
    display: none;
    z-index: 1;
}

.select-input__item{
    list-style: none;
}

.select-input__link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.3rem;
    padding: 4px 0;
    display: block;
}

.select-input__link:hover{
    color: var(--primary-color);
}

/* Pagination */
.Pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.Pagination-item{
    min-width: 40px;
    height: 30px;
    margin: 0 14px;
}

.Pagination-item__active .Pagination-item__link{
    background: var(--primary-color);
    color: var(--white-color);
}

.Pagination-item__active .Pagination-item__link:hover{
    background: #f05d41;
}

.Pagination-item__link{
    --height:30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
    border-radius: 2px;
}   

.Pagination-item__icon{
    padding: 0 8px;
}

.Pagination-item__icon:hover{
    color: var(--primary-color);
}


